h1{
	padding-top: 7%;
	margin-top: 0;
	text-align: center;
}

.flex-container {
  display: flex;
}

#teltext {
	padding-left: 6%;
	padding-right: 4%;
}

#mailtext{
	padding-left: 8%;
	margin-right: 0;

}

#tel{
	text-align: left;
	padding-left: 6%;
	color: #0000CD;
	text-decoration-line: underline;
}

#mail{
	text-align: left;
	padding-left: 8%;
	color: #5b88d9;
}

.fa-headset{
	color: #FFC252;
	size: 4em;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


.fa-envelope{
	color: #FFC252;
	size: 4em;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


.far{
	color: #FFC252;
}
.fas{
	color: #FFC252;
}
