
.contenue{
	display: flex;
	margin:0;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.event{
	max-height: 33%;
	max-width: 33%;
	border: 1px;
	border-style: solid;
	border-radius: 15px;
	padding: 1%;
}
.card{
	position: static;
	display: flex;²
	flex-direction: column;
	background-color: transparent;

}
.illustration
{
	width: 100%; 
    height: auto;
    position: static;
}
#descriptif{
	border: 2px solid black;
	padding: 1%;
}
h4{
	margin: 0;
}
p{
	margin:0;
}