.illustration
{
	width:30%; 
    height: auto;
    max-height: 30%;
}

.btn
{
	margin-top: 1%;
	margin-left: 2%;
	margin-bottom: 2%;
	max-height: 40px;
	justify-content: left;
}



.images
{
	 width:10%; 
    height: auto;
}



.eventdiv
{
	
	outline-width: 5px;
	outline-color: black;
	outline-style: solid;
	width: 120%; 
	height: auto;
}

.card
{
	position: static;
}



.file
{
	padding-top: 2px;
	width: 20%;
}


.imagesdiv
{
	
	
	width: 450px; 
}