#head h1{
	margin:0;
	padding-top:3%;
	font-size: 150%;
	text-align: center;
}
#head img{
	width: 30%;
	height: auto;
}
#head ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;

}
#head li{
	text-align: center;
	width: 100%;
	padding:1em;
}
#title{
	margin:auto;
}
#contenu div{
	border:2px solid #5b88d9;
	border-radius: 15px;
	margin-top: 1%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 1%;
	background-color: #5b88d9;

}
#contenu p{
	font-size: 130%;
}
#contenu li{
	font-size: 130%;
}
#contenu h2{
	text-align: center;
}