
#content{
	margin-right: 2%;
	margin-left: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.ideadiv
{
	max-height: 33%;
	max-width: 33%;
	border: 1px;
	border-style: solid;
	border-radius: 15px;
	padding: 1%;
}
.card{
	background-color: transparent;
	position: static;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.ideadiv:hover{
	background-color: #FFC252;
	opacity: 10%;
}

.illustration
{
	max-width: 400px; 
    height: auto;
    position: static;
}
h3{
	margin: 0;
}
p{
	margin:0;
}