h1{
	text-align: center;
	padding-top: 2%
}

h2{
	font-weight: bold;
	padding-left: 7%;
}

#CREDIT {
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

.texteMentions{
	text-align: justify;
	padding-left: 8%;
	padding-right: 8%;

}
#end {
	text-align: justify;
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 3%
}
#rightSection {
background-color: #EFEFEF;
}