.navbar{
	position: static;
}

.btn-outline-success{
	background-color: transparent;
	border-color: #FFC252;
}
.btn-outline-success:hover{
	background-color:#dddddd;
	border-color: #FFC252;
}

.imgArticle
{
	max-height: 400px;
	max-width: auto;
}

.texts
{
	margin-top: 20px;
	border: 2px solid black;
	border-radius: 2%;
}