html{
    height: 100%;
    width: 100%;
}


@font-face{
	font-family:Roboto;
	src: url(./resources/font/Roboto-Condensed.ttf);
	src: url(./resources/font/Roboto-BoldCondensed.ttf);
}
body{
    height: 100%;
    width:100%;
    position: absolute;
    margin: 0;
    background-color: #000000;
}



header{
	position: sticky;
	top: 0;
}
header a:hover{
	color: #FFC252;
}

.element_menu ul {
    list-style-type: none;
    font-family: 'Roboto', Arial, sans-serif;
	font-weight: bold;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.element_menu li {
	 display: inline;
	 float: left;
     border-right: 1px solid grey;
}

.element_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}


.navigation{
	font-family: 'Roboto', Arial, sans-serif;
	margin-top: 0;
	height: auto;
	min-width: 12%;
	position: absolute;
}
.navigation ul{
	height: 100%;
	padding: 0;
	margin:0;
	list-style-type: none;
	overflow: hidden;
	background-color: #000000;
}
.navigation li {
	border-bottom: 1px solid grey;
}

#img{
	background-color: white;
	padding: 15px;
}

.navigation a {
	display: block;
    color: white;
    text-align: left;
    padding: 1em 1em;
    text-decoration: none;
}




main{
	
	height: 100%;
	border-left: 14.4em;
	border-left-style: solid;
	border-left-color: #000000;
	background-color: #FFFFFF;
}

.fa-phone{
	color: #FFC252;
	size: 3em;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";


}
.far{
	color: #FFC252;
}
.fas{
	color: #FFC252;
}


footer{
	font-family: 'Roboto', Arial, sans-serif;
	color: white;
}
.social{
	text-align: center;
}
.social ul{
	list-style-type: none;
    padding: 0;
    margin: 0;
}
.social li{
	display: inline;
}
.social i{
	font-size: 150%;
}
.social a{
	text-decoration: none;
	text-align: center;
    padding: 0.3em 0.3em;
	color: white;
}


.infos{
	text-align: center;
	margin-top: 2%;
}
.infos ul{
	list-style-type: none;
	padding: 0;
	margin: 0;

}
.infos li{
	display: inline;
	border:2px solid white;
	border-radius: 3%; 
	padding:1.5em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	color:white;
}

.infos a{
	text-align: center;
    padding: 0.3em 0.3em;
	color: inherit;
}
.infos li:hover{
	background-color: white; 
	color: black;
}